<%= render 'sidebar' %>

<h1><%= t("activerecord.models.wish")%></h1>

<% @wish_rows.each do |wish_row| %>
<div class="row">
  <div class="span9">
    <ul class="thumbnails">
      <% wish_row.each do |wish| %>
      <% if wish.nil? then %>
        <li class="span3">
        </li>
      <% else %>
        <li class="span3" id="<%= wish.id %>">
          <%= render :partial => "list_area", :locals => {:wish => wish} %>
        </li>
      <% end  %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


