<h1><%= singular_table_name %> <%% t("action.edit") %></h1>

<%%= render 'form' %>

<%%= link_to t("action.show"), @<%= singular_table_name %> %> |
<%%= link_to t("common.back"), <%= index_helper %>_path %>
